.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;

  &__container {
    display: inline-block;
    overflow: hidden;
  }
  &__main {
    width: 500px;
    height: 700px;
    object-fit: cover;

    @media screen and (max-width: 1210px) {
      width: 100%;
      
    }
  }

  &__medium {
    width: 500px;
    height: 350px;
    object-fit: cover;

    @media screen and (max-width: 1210px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.scale {
  transition: 1s;
  display: block;

  &:hover {
    transform: scale(1.2);
  }
}
