.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 8px;
      path {
        fill: #35353b;
      }
    }

    p {
      margin-right: 8px;
      font-size: 18px;
      font-weight: 600;
      color: #35353b;
    }

    span {
      color: #48836f;
      font-size: 18px;
      font-weight: 700;
      border-bottom: 1px solid #e3e3e3;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #383838;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: #48836f;
        }

        &.active {
          font-weight: 600;
          color: #20513f;
        }
      }
    }
  }
  @media screen and (max-width: 1260px) {
    padding-left: 20px;
    p {
      display: none;
    }
  }
}
